body {

}
h1 {
    text-align: center;
}
.full-name{

}
.first-word-header{
    color: #BAC492;
}
.last-word-header{
    color: #799F4B;
}
h3 {
    color: white;
}
.hr-line{
    border: 2px solid #555A5F;
}
.about-me-header{
    text-align: center;
}
.software-developer-header{
    text-align: center;
}
p {
    color: white;
}
.intro-paragraph{
    margin: 20px;
}
.software-developer-paragraph{
    margin: 20px;
}
.navbar{

}
.container{

}
.carousel-image{
    margin-top: 50px;
    width: 100%;
    max-width: 610px;
    height: auto;
}
.carousel-div-af-headshot{
    max-height: 523px;
    overflow: hidden;
}
#af-headshot{
    max-height: initial;
}
.carousel-div-cat-dad-headshot{
    max-height: 523px;
    overflow: hidden;
}
#cat-dad-headshot{
    max-height: initial;
}
.carousel-caption{
    font-size: 17px;
    text-shadow: 2px 3px 5px black;
    -webkit-text-stroke: .15px black;
}
.family-png{
    width: 100%;
}
.codeup-banner{
    width: 100%;
}