body {

}
h1 {
    text-align: center;
}
h3 {
    color: white;
}
p {
    color: white;
    font-size: 25px;
}
ul {
    color: white;
    text-align: center;
    list-style: none;
}
li {
    color: white;
}
.first-word-header{
    color: #BAC492;
    font-size: 70px;
}
.last-word-header{
    color: #799F4B;
    font-size: 70px;
}
/* NAV BAR STYLING AND SIZING */
.dropdown-item{
    font-size: 55px;
}
.nav-link{
    font-size: 55px;
}
#navbar-icon{
    font-size: 45px;
}
.first-word-dropdown-item{
    font-size: 45px;
    color: #BAC492;
}
.last-word-dropdown-item{
    font-size: 45px;
    color: #799F4B;
}
.hr-line{
    border: 2px solid #555A5F;
}
.custom-hr-line{
    width: 100%;
}
.about-me-header{
    text-align: center;
}
.software-developer-header{
    text-align: center;
}



.intro-paragraph{
    margin: 20px;
}
.software-developer-paragraph{
    margin: 20px;
}

/* CAROUSEL STYLING AND SIZING */
.carousel-image{
    margin-top: 50px;
    width: 100%;
    /*max-width: 736px;*/
    height: auto;
}
.carousel-div-af-headshot{
    max-height: 977px;
    overflow: hidden;
}
#af-headshot{
    max-height: initial;
}
.carousel-div-cat-dad-headshot{
    max-height: 977px;
    overflow: hidden;
}
#cat-dad-headshot{
    max-height: initial;
}
.carousel-caption{
    font-size: 17px;
    text-shadow: 2px 3px 5px black;
    -webkit-text-stroke: .15px black;
}
.family-png{
    width: 100%;
}
.carousel-header{
    font-size: 70px; /* testing */
}
.carousel-paragraph{
    font-size: 55px;
}

/* banner images */
.codeup-banner{
    width: 100%;
}
.div-software-one-banner{
    max-height: 350px;
    overflow: hidden;
}
.software-one-banner{
    width: 100%;
    height: auto;
    max-height: initial;
}
.div-list-img{
    text-align: center;
    display: block;
}
.list-img{
    margin: auto;
    width: 100%;
    text-align: center;
    display: block;
    margin-top: 20px;
}
.coffee-list-img{
    margin-top: 20px;
}
.rpg-banner-div{
    max-height: 370px;
    overflow: hidden;
}
.rpg-banner{
    max-height: initial;
}
.capstone-banner-div{
    max-height: 530px;
    overflow: hidden;
}
.capstone-banner{
    max-height: initial;

}

/* PROJECT TEXT CODE */
.project-paragraph{
    margin: 20px;
}
.project-title{
    font-size: 30px;
}
.div-list-group{
    margin: 20px;
}
.list-group-item{
    font-size: 30px;
}
.between-lists-header{
    text-align: center;
    font-style: italic;
    margin: 20px;
}